body.devtools {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}
.card {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}
.div-input {
    margin-bottom: 15px;
}
.text-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
.submit-button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
.submit-button:hover {
    background-color: #0056b3;
}
#result{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#series-result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#temperature-result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#bmi-result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}