html{
    scroll-behavior: smooth !important;
}

:root{
    font-size: 16px;
    font-family: 'Open Sans'
}

body{
    color: #333333;
    margin: 0;
    padding: 0;
    border-right: none;
}

main{
    margin-left: 5rem; /*root em, a unit for measurement that represents the font size of the root element. In this case 16px*/
    padding-left: 1rem;
    max-width: 1200px; 
}

/*CSS nav bar*/
.navbar{
    width: 5rem;
    height: 100vh; /*Viewport Height, reponsive design*/
    position: fixed;
    background-color: #114232;
    transition: width 200ms ease;
}

.navbar-nav{
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color:#DCE0D8;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}

.link-text {
    display: none;
}
  
.nav-link svg {
    width: 2.5rem;
    margin: 0 1.5rem;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: #677779;
    color: #ececec;
}

.navbar:hover{
    width: 16rem;
}

.navbar:hover .link-text{
    display: block;
}

.fa-primary{
    color: #FCDC2A;
}

.fa-secondary{
    color: #FCDC2A;
}

.fa-primary, .fa-secondary{
    transition: 600ms;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

section{ /*MUDAR PARA O NOME DAS CLASSES DAS SECTIONS SE NECESSÁRIO!*/
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image{
    width: 250px;
    max-width: 500px;
    height: 250px;
    object-fit: cover;

}

.about-me .image{
    border-radius: 50%;
}


p {
    text-indent: 3em;
}

.about-me{
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    width: 100%;
    height: 100vh;
    background-color: #EADFB4;
    margin-left: -16px;
}

.projects{
    background-color: #b4c5d3;
    margin-left: -16px;
    margin: none;
    padding: none;
}

.education{
    background-color: #8d9fa8;
    margin-left: -16px;
}

.social{
    background-color: #f6b78d;
    margin-left: -16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

