html{
    scroll-behavior: smooth !important;
}

:root{
    font-size: 16px;
    font-family: 'Open Sans'
}

body{
    color: #333333;
    margin: 0;
    padding: 0;
    border-right: none;
    max-width: 100vw;
    max-height: 100vh;
}

main{
    margin-left: 5rem; /*root em, a unit for measurement that represents the font size of the root element. In this case 16px*/
    padding-left: 1rem;
    max-width: 100vw;
    max-height: 100vh;
}

/*CSS nav bar*/
.navbar{
    position: fixed;
    background-color: #114232;
    transition: width 200ms ease;
}

.navbar-nav{
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color:#DCE0D8;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}

.link-text {
    display: none;
}
  
.nav-link svg {
    width: 2.5rem;
    margin: 0 1.5rem;
}

.fa-primary{
    color: #FCDC2A;
}

.fa-secondary{
    color: #FCDC2A;
}

.fa-primary, .fa-secondary{
    transition: 600ms;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

.image{
    width: 250px;
    max-width: 500px;
    height: 250px;
    object-fit: cover;
}

.about-me .image{
    border-radius: 50%;
}


p {
    text-indent: 3em;
}

*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

/*Mobile*/
@media only screen and (max-width: 600px) {
    main{
        margin-left: 5rem; /*root em, a unit for measurement that represents the font size of the root element. In this case 16px*/
        padding-left: 1rem;
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }
    .navbar {
      bottom: 0; /*Placing the navbar on the bottom of the page*/
      width: 100vw; /*You swap the height and the width and the height*/
      height: 5rem;
      position: fixed;
    }
  
    .navbar-nav {
      flex-direction: row;
      justify-content: center;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
    section{ /*MUDAR PARA O NOME DAS CLASSES DAS SECTIONS SE NECESSÁRIO!*/
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about-me{
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;*/
        width: 100vw;
        height: 100vh;
        background-color: #EADFB4;
        display: inline block;
        padding:1rem;
    }
    
    .projects{
        width: 100vw;
        height: 100vh;
        background-color: #b4c5d3;
        padding:1rem;
        display: inline block;
    }
    
    .education{
        width: 100vw;
        height: 100vh;
        background-color: #8d9fa8;
        display: inline block;
        padding:1rem;
    }
    
    .social{
        width: 100vw;
        height: 100vh;
        background-color: #f6b78d;
        display: inline block;
        padding:1rem;
    }
  }

/*Web*/
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }

    .nav-link:hover{
        filter: grayscale(0%) opacity(1);
        background: #677779;
        color: #ececec;
        width: 16rem;
    }
    section{ /*MUDAR PARA O NOME DAS CLASSES DAS SECTIONS SE NECESSÁRIO!*/
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display:  block;
    }
    .about-me{
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;*/
        width: 100%;
        height: 100vh;
        background-color: #EADFB4;
        margin-left: -16px;
        padding-top: 1rem;
        padding-right: 1rem;
    }
    
    .projects{
        background-color: #b4c5d3;
        margin-left: -16px;
        padding-bottom: 20rem;
        padding-top: 1rem;
    }
    
    .education{
        background-color: #8d9fa8;
        margin-left: -16px;
        padding-bottom: 20rem;
        padding-top: 1rem;
    }
    
    .social{
        background-color: #f6b78d;
        margin-left: -16px;
        padding-bottom: 20rem;
        padding-top: 1rem;
    }

  }